[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=SoundCloud
Exec=/usr/bin/google-chrome --app=http://soundcloud.com
Icon=soundcloud
StartupWMClass=soundcloud.com
Hidden=true